#xxx{
  background-color:white;display: block;
}
ol,ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
*{
    margin:0;
  }
body{
  overflow: hidden;
}
.btx{
  position: fixed;
  top:10px;
  left:10px;  
}
.btx svg{
  width: 2em;
  margin: 5px;
  transition: all 0.3s;

}
.btx .active{
  fill: red;
  transform: scale(1.2)
}
/* #brush{
  display: none;
  
}
.btx.x > #eraser{
  display: none;
}
.btx.x > #brush{
  display: inline-block;
} */
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.colors .active{
  transform: scale(1.2);
}
.colors li{
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius:50%;
  margin: 20xp 0;
}
.colors li.black{
  background:black;
}
.colors li.red{
  background:red;
}
.colors li.yellow{
  background:yellow;
}
.colors li.blue{
  background:blue;
}

.colors{
  position: fixed;
  top:55px;
  left: 20px;
  transition: all 0.3s;

}